:root{
    --regular-text-color: #3E3F43;
    --button-color: #DAA520;
}

a{
    text-decoration: none;
    color: var(--regular-text-color);
    font-weight: 400;
    font-family: Nunito, sans-serif;
    font-size: 16px;
}

h1, p{
    margin: 0%
}

li {
    list-style-type: none;
}

body{
    margin: 0 auto;
    font-family: Nunito, sans-serif;
}

#backgroundIMage1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
}

#backgroundIMage2{
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: -4;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 15px;
    line-height: 32.74px;

}

header figure{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    margin-left: 0%;
}

header figure img{
    justify-self: end;
}

header figure figcaption{
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.3rem;
    color: var(--regular-text-color);
}

header ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
}

header ul li a:hover{
    color: var(--button-color);
}

.signUp{
    border-color: var(--button-color);
    border: #3E3F43 solid 1px;
    border-radius: 8px;
    padding: 5px 30px 5px 30px; 
    font-weight: 700;
}

.signUp:hover{
    background-color: var(--regular-text-color);
    color: white;
}

.active{
    color: var(--button-color);
}

#landingFrame{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    margin-top: 105px;
    margin-left: 4%;
    
}

#landingFrame p{
    font-size: 36px;
    color: var(--regular-text-color);
    line-height: 49.1px;
}

#landingFrame h1{
    font-size: 72px;
    font-weight: 700;
    color: var(--regular-text-color);
    line-height: 98.21px;
}

#landingFrame a{
    border: none;
    background-color: #DAA520;
    border-radius: 4px;
    padding: 20px 50px 20px 50px;
    text-align: center;
    color: white;
    line-height: 98.21px;
    font-style: bold;
}


#about{
    margin-left: 4%;
    margin-right: 4%;

}

.startSection{
    display: grid;
    width: 100%;
    grid-template-columns: fit-content(50%) auto fit-content(50%);
    place-items: center;
}

.startSection figure {
    display: grid;
    grid-template-columns: fit-content(50%) 3fr;
    column-gap: 10px;
    margin-left: 0%;
}

.startSection figure img{
    align-self: center;
    justify-self: end;
}

.startSection figure figcaption{
    line-height: 49.1px;
    font-weight: 700;
    font-size: 36px;
    color: var(--regular-text-color);
}

.line{
    width: 100%;
    height: 1px;
    background-color: var(--regular-text-color);
    align-self: center;
}

.startSectionTxt {
    color:#2222221A;
    font-size: 72px;
}

.infFieldImg{
    z-index: -1;
    position: relative;
}
.saladBackground{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}