@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: 'Nunito';
  margin: 0;
  height: 100vh;
  z-index: -99999;
}

body p {
  margin: 0%;
}

body a {
  text-decoration: none;
  color: #2B2B43;
}

body figure {
  margin: 0%;
}

/*Login page*/
.login-page-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
  width: 100%;
  height: 100% !important;
}

.login-page-grid .login-section {
  width: 45%;
  place-self: center;
}

.login-page-grid .login-section #brand {
  font-weight: 800;
  font-size: 21px;
}

.login-page-grid .login-section #brand .delivery {
  color: #4E60FF;
}

.login-page-grid .login-section .loginHeadear {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.login-page-grid .login-section .logMessage {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #545563;
  margin-bottom: 20px;
}

.login-page-grid .login-section form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  row-gap: 20px;
}

.login-page-grid .login-section form .email-input, .login-page-grid .login-section form .password-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.login-page-grid .login-section form .email-input label, .login-page-grid .login-section form .password-input label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #545563;
}

.login-page-grid .login-section form .email-input input, .login-page-grid .login-section form .password-input input {
  border: 1px solid #C7C8D2;
  border-radius: 8px;
  height: 44px;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.login-page-grid .login-section form .email-input input::-webkit-input-placeholder, .login-page-grid .login-section form .password-input input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
}

.login-page-grid .login-section form .email-input input:-ms-input-placeholder, .login-page-grid .login-section form .password-input input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
}

.login-page-grid .login-section form .email-input input::-ms-input-placeholder, .login-page-grid .login-section form .password-input input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
}

.login-page-grid .login-section form .email-input input::placeholder, .login-page-grid .login-section form .password-input input::placeholder {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
}

.login-page-grid .login-section form .keep-logged {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(50%) auto;
      grid-template-columns: fit-content(50%) auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.login-page-grid .login-section form .keep-logged input {
  border: 2px solid #C7C8D2;
  border-radius: 4px;
}

.login-page-grid .login-section form .keep-logged #checkbox {
  place-self: center;
}

.login-page-grid .login-section form #logIn {
  cursor: pointer;
  background: #4E60FF;
  -webkit-box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
          box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  border-radius: 8px;
  padding: 12px 16px;
  border: none;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.login-page-grid .login-section form .forgotPassword {
  place-self: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #4E60FF;
}

.login-page-grid .login-section .signUp {
  margin-top: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #545563;
}

.login-page-grid .login-section .signUp .signUpLink {
  color: #4E60FF;
}

.login-page-grid .review-section {
  z-index: 0;
  background: #697BFF;
  position: relative;
}

.login-page-grid .review-section .reviews {
  z-index: -1;
  background: #FFFFFF;
  border-radius: 14.3086px;
  position: absolute;
  width: 313px;
  height: 437px;
  left: calc(50% - 313px/2 - 148.5px);
  top: 18px;
  -webkit-filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.3));
          filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.3));
}

.login-page-grid .review-section .reviews .line {
  width: auto;
  height: 1px;
  background-color: #EDEEF2;
}

.login-page-grid .review-section .reviews .rating .ratingNrOfVotes, .login-page-grid .review-section .reviews .rating .howLongAgoWasRated, .login-page-grid .review-section .reviews .coment .ratingNrOfVotes, .login-page-grid .review-section .reviews .coment .howLongAgoWasRated {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #83859C;
}

.login-page-grid .review-section .reviews .rating, .login-page-grid .review-section .reviews .coment, .login-page-grid .review-section .reviews .sortBy, .login-page-grid .review-section .reviews .comments {
  margin: 10px;
}

.login-page-grid .review-section .reviews .rating {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.login-page-grid .review-section .reviews .rating .starsRating {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[3];
      grid-template-columns: repeat(3, fit-content(50%));
  -webkit-column-gap: 10px;
          column-gap: 10px;
  place-items: center;
}

.login-page-grid .review-section .reviews .rating .leaveReview {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 10px 15px 10px 15px;
  border: 1px solid #4E60FF;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #4E60FF;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.login-page-grid .review-section .reviews .rating .leaveReview:hover {
  color: white;
  background-color: #4E60FF;
}

.login-page-grid .review-section .reviews .sortBy {
  text-align: center;
}

.login-page-grid .review-section .reviews .sortBy #sortBy {
  padding: 8px 8px 8px 12px;
  background: #FFFFFF;
  border: 1px solid #C7C8D2;
  border-radius: 8px;
}

.login-page-grid .review-section .reviews .comments {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.login-page-grid .review-section .reviews .comments .coment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(50%) auto;
      grid-template-columns: fit-content(50%) auto;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.login-page-grid .review-section .reviews .comments .coment .starsRating {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[6];
      grid-template-columns: repeat(6, fit-content(50%));
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.login-page-grid .review-section .reviews .comments .coment .commentContent {
  -ms-grid-column: 2;
      grid-column-start: 2;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B43;
}

.login-page-grid .review-section .reviews .comments .coment .likesAndDislikes {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[2];
      grid-template-columns: repeat(2, fit-content(50%));
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.login-page-grid .review-section .reviews .comments .coment .likesAndDislikes .likes, .login-page-grid .review-section .reviews .comments .coment .likesAndDislikes .dislikes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[2];
      grid-template-columns: repeat(2, fit-content(50%));
  place-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.login-page-grid .review-section .reviews .comments .coment .likesAndDislikes .likesNr {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #545563;
}

.login-page-grid .review-section .reviews .comments .coment .likesAndDislikes .dislikesNr {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #83859C;
}

.login-page-grid .review-section .addToCart {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: #FFFFFF;
  border-radius: 14px;
  position: absolute;
  width: 290px;
  height: 300px;
  left: calc(40% + 132px/2 + 72px/2);
  top: 70px;
}

.login-page-grid .review-section .addToCart .addToCartContent {
  margin: 10px;
}

.login-page-grid .review-section .addToCart .addToCartContent .productName, .login-page-grid .review-section .addToCart .addToCartContent .productDescription, .login-page-grid .review-section .addToCart .addToCartContent .moneyRelated {
  margin: 5px;
}

.login-page-grid .review-section .addToCart .addToCartContent .productImg {
  border-radius: 14px;
}

.login-page-grid .review-section .addToCart .addToCartContent .productName {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.login-page-grid .review-section .addToCart .addToCartContent .productDescription {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #83859C;
}

.login-page-grid .review-section .addToCart .addToCartContent .moneyRelated {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.login-page-grid .review-section .addToCart .addToCartContent .moneyRelated .productPrice {
  -ms-grid-column-align: start;
      justify-self: start;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.login-page-grid .review-section .addToCart .addToCartContent .moneyRelated .addToCartButton {
  -ms-grid-column-align: end;
      justify-self: end;
}

.login-page-grid .review-section .addToCart2 {
  z-index: 1;
  background-color: white;
  width: 618px;
  height: 132px;
  left: calc(50% - 618px/2 - 26px);
  top: 380px;
  -webkit-filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.4));
          filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.4));
  border-radius: 14px;
  position: absolute;
}

.login-page-grid .review-section .addToCart2 .addToCartContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[3];
      grid-template-columns: repeat(3, fit-content(50%));
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: 10px;
}

.login-page-grid .review-section .addToCart2 .addToCartContent .productImg {
  border-radius: 14px;
}

.login-page-grid .review-section .addToCart2 .addToCartContent .productDetails .productName {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.login-page-grid .review-section .addToCart2 .addToCartContent .productDetails .productDescription {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #83859C;
}

.login-page-grid .review-section .addToCart2 .addToCartContent .productDetails .productPrice {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.login-page-grid .review-section .addToCart2 .addToCartContent .addingToCartSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.login-page-grid .review-section .addToCart2 .addToCartContent .addingToCartSection .counter {
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[3];
      grid-template-columns: repeat(3, fit-content(50%));
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.login-page-grid .review-section .addToCart2 .addToCartContent .addingToCartSection .counter .count {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B43;
}

.login-page-grid .review-section .addToCart2 .addToCartContent .addingToCartSection .addToCartButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 20px 10px 20px;
  color: #4E60FF;
  background-color: #F3F4FF;
  border-radius: 7px;
}

.login-page-grid .review-section .review-message {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
  justify-items: center;
  position: absolute;
  bottom: 3%;
}

.login-page-grid .review-section .review-message h1 {
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin: 0;
}

.login-page-grid .review-section .review-message p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
}

.login-page-grid .review-section .review-message .slides {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[5];
      grid-template-columns: repeat(5, fit-content(50%));
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

/*Home page*/
.home-page-content {
  margin-left: 11%;
  margin-right: 11%;
}

.home-page-content .header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}

.home-page-content .header .left-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[2];
      grid-template-columns: repeat(2, fit-content(50%));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.home-page-content .header .left-column #brand {
  font-weight: 800;
  font-size: 21px;
}

.home-page-content .header .left-column #brand .delivery {
  color: #4E60FF;
}

.home-page-content .header .left-column .search-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[2];
      grid-template-columns: repeat(2, fit-content(50%));
}

.home-page-content .header .left-column .search-container .search-input {
  background: #EDEEF2;
  border-radius: 12px 0 0 12px;
}

.home-page-content .header .left-column .search-container .search-input:focus {
  outline: none;
}

.home-page-content .header .left-column .search-container .search-input[type=text] {
  padding: 12px;
  font-size: 14px;
  color: #83859C;
  border: none;
}

.home-page-content .header .left-column .search-container .search-button {
  cursor: pointer;
  color: #83859C;
  border: none;
  border-radius: 0 12px 12px 0;
  padding-right: 10px;
}

.home-page-content .header .right-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[2];
      grid-template-columns: repeat(2, fit-content(50%));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: center;
      align-self: center;
}

.home-page-content .header .right-column .nav-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[4];
      grid-template-columns: repeat(4, fit-content(50%));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #2B2B43;
  white-space: nowrap;
}

.home-page-content .header .right-column .nav-links .line {
  width: 1px;
  height: 32px;
  background-color: #EDEEF2;
}

.home-page-content .header .right-column .nav-links .link:hover {
  color: #4E60FF;
}

.home-page-content .header .right-column .nav-account-and-bag {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[4];
      grid-template-columns: repeat(4, fit-content(50%));
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.home-page-content .header .right-column .nav-account-and-bag .line {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1px;
  height: 32px;
  background-color: #EDEEF2;
}

.home-page-content .end-line {
  width: 500%;
  margin-right: -200%;
  margin-left: -200%;
  height: 1px;
  margin-top: 5px;
  background-color: #EDEEF2;
}

.home-page-content .discounts-section {
  margin-top: 24px;
}

.home-page-content .discounts-section .discounts-section-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 19px;
          column-gap: 19px;
}

.home-page-content .discounts-section .discounts-section-content .column-left {
  background-color: #F3F4FF;
  border-radius: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  white-space: nowrap;
}

.home-page-content .discounts-section .discounts-section-content .column-left .pancake {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.home-page-content .discounts-section .discounts-section-content .column-left .classification {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-size: 20px;
  color: #2B2B43;
}

.home-page-content .discounts-section .discounts-section-content .column-left .discountAmount {
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  color: #4E60FF;
}

.home-page-content .discounts-section .discounts-section-content .column-left .classification2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
}

.home-page-content .discounts-section .discounts-section-content .column-right {
  background-color: #FFF3ED;
  border-radius: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  white-space: nowrap;
}

.home-page-content .discounts-section .discounts-section-content .column-right .burger {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.home-page-content .discounts-section .discounts-section-content .column-right .classification {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-size: 20px;
  color: #2B2B43;
}

.home-page-content .discounts-section .discounts-section-content .column-right .discountAmount {
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  color: #4E60FF;
}

.home-page-content .discounts-section .discounts-section-content .column-right .classification2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
}

.home-page-content .categories {
  margin-top: 32px;
}

.home-page-content .categories .grid-wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.home-page-content .categories .grid-wraper .content-box {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #FFFFFF;
  border: 1px solid #EDEEF2;
  border-radius: 16px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.home-page-content .categories .grid-wraper .content-box .category {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 5px;
}

.home-page-content .categories .grid-wraper .content-box .category .category-name {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #545563;
}

.home-page-content .categories .grid-wraper .content-box:hover {
  background: #F8F9FF;
  border: 1px solid #697BFF;
}

.home-page-content .categories .grid-wraper .active {
  pointer-events: none;
  background: #F3F4FF;
  border: 2px solid #4E60FF;
  border-radius: 16px;
}

.home-page-content .categories .grid-wraper .active .category .category-name {
  color: #4E60FF;
}

.home-page-content .restaurants-section {
  margin-top: 40px;
}

.home-page-content .restaurants-section .nearby-restaurants {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #2B2B43;
  margin-bottom: 16px;
}

.home-page-content .restaurants-section .grid-wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
}

.home-page-content .restaurants-section .grid-wraper .card {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 160px auto;
      grid-template-rows: 160px auto;
  row-gap: 10px;
  border: 1px solid #EDEEF2;
  border-radius: 16px;
}

.home-page-content .restaurants-section .grid-wraper .card .bg-img {
  background-image: url("/assets/img/restaurant1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf {
  margin-left: 10px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf .row1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr fit-content(50%);
      grid-template-columns: 1fr fit-content(50%);
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf .row1 .name {
  color: #2B2B43;
  font-weight: 700;
  font-size: 18px;
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf .delivery-time-and-price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[3];
      grid-template-columns: repeat(3, fit-content(50%));
  place-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf .delivery-time-and-price .time {
  font-weight: 600;
  font-size: 12px;
  color: #83859C;
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf .delivery-time-and-price .circle {
  width: 3px;
  height: 3px;
  background-color: #4E60FF;
  border-radius: 50%;
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf .delivery-time-and-price .price {
  font-weight: 600;
  font-size: 12px;
  color: #83859C;
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf .badges {
  display: -ms-grid;
  display: grid;
  margin-top: 10px;
  margin-bottom: 10px;
  -ms-grid-columns: (90px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 90px);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf .badges .badge {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(50%))[2];
      grid-template-columns: repeat(2, fit-content(50%));
  -webkit-column-gap: 8px;
          column-gap: 8px;
  padding: 4px 10px;
  background: #EDEEF2;
  border-radius: 100px;
  place-items: center;
}

.home-page-content .restaurants-section .grid-wraper .card .card-inf .badges .badge .badge-text {
  font-weight: 600;
  font-size: 12px;
  color: #545563;
}

@media screen {
  .header .right-column .nav-account-and-bag .line {
    display: none;
  }
  .header .right-column .nav-account-and-bag .menuBtn i {
    display: none;
  }
}

/*Login page media querry*/
@media (max-width: 1200px) {
  .login-page-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .login-page-grid .review-section {
    display: none;
  }
}

/*Home page headear*/
@media (max-width: 990px) {
  .header .left-column .search-container .search-input, .header .left-column .search-container .search-button {
    display: none;
  }
  .header .right-column .nav-links {
    -ms-grid-columns: 0px;
        grid-template-columns: 0px;
  }
  .header .right-column .nav-links .link {
    display: none;
  }
  .header .right-column .nav-account-and-bag {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .header .right-column .nav-account-and-bag .line {
    display: block;
  }
  .header .right-column .nav-account-and-bag .menuBtn {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 54px;
    height: 54px;
    background: #EDEEF2;
    border-radius: 16px;
    color: #83859C;
  }
  .header .right-column .nav-account-and-bag .menuBtn i {
    display: block;
  }
  .header .right-column .nav-account-and-bag .menuBtn:hover {
    cursor: pointer;
    background-color: #4E60FF;
    color: white;
  }
}

/*Home page discounts*/
@media screen and (max-width: 1065px) {
  .home-page-content .discounts-section .discounts-section-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    row-gap: 19px;
  }
}

@media screen and (max-width: 1230px) {
  .home-page-content .discounts-section .discounts-section-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    row-gap: 15px;
  }
}

@media screen and (max-width: 625px) {
  .home-page-content .discounts-section .discounts-section-content .column-left .pancake {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .home-page-content .discounts-section .discounts-section-content .column-left .classification {
    margin-left: 10px;
    margin-top: 10px;
  }
  .home-page-content .discounts-section .discounts-section-content .column-left .discountAmount {
    -ms-grid-row: 2;
        grid-row-start: 2;
    margin-left: 10px;
  }
  .home-page-content .discounts-section .discounts-section-content .column-left .classification2 {
    margin-top: 10px;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 10px;
  }
  .home-page-content .discounts-section .discounts-section-content .column-right .burger {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .home-page-content .discounts-section .discounts-section-content .column-right .classification {
    margin-left: 10px;
    margin-top: 10px;
  }
  .home-page-content .discounts-section .discounts-section-content .column-right .discountAmount {
    -ms-grid-row: 2;
        grid-row-start: 2;
    margin-left: 10px;
  }
  .home-page-content .discounts-section .discounts-section-content .column-right .classification2 {
    margin-top: 10px;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 10px;
  }
}

@media screen and (max-width: 750px) {
  .home-page-content .categories .grid-wraper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    row-gap: 15px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}
/*# sourceMappingURL=style.css.map */