@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

$primary-color:#4E60FF;
$secondary-color:#2B2B43;
$login-margins:25%;

body{
    font-family: 'Nunito';
    margin: 0;
    height: 100vh;
    p{
        margin: 0%;
    }
    a{
        text-decoration: none;
        color:$secondary-color;
    }
    figure{
        margin: 0%;
    }
}
.login-page-grid{
    display: grid;
    grid-template-columns: 45% 55%;
    width: 100%;
    height: 100%!important;
    .login{
        width: 45%;
        place-self: center;
        #brand{
            .delivery{
                color: $primary-color;
            }
            font-weight: 800;
            font-size: 21px;
        }
        .loginHeadear{
            font-weight: 700;
            font-size: 60px;
            line-height: 82px;
            letter-spacing: 0.1px;
            color: $secondary-color;
        }
        .logMessage{
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: #545563;
            margin-bottom: 20px;
        }
        form{
            display: grid;
            grid-template-rows: repeat(5, auto);
            row-gap: 20px;
            .email-input, .password-input{
                display: grid;
                grid-template-rows: repeat(2, auto);
                label{
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    color: #545563;
                }
                input{
                    border: 1px solid #C7C8D2;
                    border-radius: 8px;
                    height: 44px;
                    justify-self: stretch;
                }
                input::placeholder{
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.1px;
                    color: #83859C;
                }
            }
            .keep-logged{
                display: grid;
                grid-template-columns: fit-content(50%) auto;
                column-gap: 10px;
                input{
                    border: 2px solid #C7C8D2;
                    border-radius: 4px;
                }
                #checkbox{
                    place-self: center;   
                }
            }
            #logIn{
                cursor: pointer;
                background: $primary-color;
                box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
                border-radius: 8px;
                padding: 12px 16px;
                border: none;
                font-family: 'Nunito';
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
            }
            .forgotPassword{
                place-self: center;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: $primary-color;
            }
        }
        .signUp{
            margin-top: 50px;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #545563;
            .signUpLink{
                color: $primary-color;
            }
        }
    }

    .review-section{
        background: #697BFF; 
        position: relative;   
        .reviews{  
            background: #FFFFFF;
            border: 0.894286px solid; 
            border-radius: 14.3086px;
            position: absolute;
            width: 313px;
            height: 437px;
            left: calc(50% - 313px/2 - 148.5px);
            top: 48px;
            filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.3));
            .line{
                width: auto;
                height: 1px;
                background-color: #EDEEF2;
            }
            .rating, .coment{
                .ratingNrOfVotes, .howLongAgoWasRated{
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 14px;
                    color: #83859C;
                }
            }
            .rating{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .starsRating{
                    display: grid;
                    grid-template-columns: repeat(3, fit-content(50%));
                    column-gap: 10px;
                    place-items: center;
                }
                .leaveReview{
                    padding: 12px 16px;
                    width: 107.62px;
                    height: 39.46px;
                    border: 1px solid #4E60FF;
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    color: $primary-color;
                }
            }
            .sortBy{
                text-align: center;
                #sortBy{
                    padding: 8px 8px 8px 12px;
                    background: #FFFFFF;
                    border: 1px solid #C7C8D2;
                    border-radius: 8px;
                }
            }
            .comments{
                .commentContent{
                    font-size: 14px;
                    line-height: 20px;
                    color: $secondary-color;
                }
                .likesAndDislikes{
                    display: grid;
                    grid-template-columns: repeat(2, fit-content(50%));
                    column-gap: 10px;
                    .likes, .dislikes{
                        display: grid;
                        grid-template-columns: repeat(2, fit-content(50%));
                        place-items: center;
                        column-gap: 5px;
                    }
                    .likesNr{
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        color: #545563;
                    }   
                    .dislikesNr{
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        color: #83859C;
                    }                
                }
            }
        }
    }
}
